/* src/styles/components/Layout.scss */
@import '../base/root'; // 변수 사용을 위해 (필요시)

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 높이 확보 */
  
  /* 헤더 아래 영역 (사이드바 + 메인)을 감싸는 div */
  .layout-body {
    display: flex;
    flex: 1; /* 남은 높이 모두 차지 */
    position: relative;
    max-width: 100%;
  }

  /* 메인 컨텐츠 영역 */
  .main-outer {
    flex: 1;
    width: calc(100% - 280px);
    background-color: var(--brand-red-100);
    padding: 20px 50px;

    @media (max-width: 1024px) {
      width: 100%;
      padding: 15px 10px;
    }

    /* 라이브러리 페이지일 때 적용될 스타일 */
    &.is-full {
      padding: 0;
      max-width: none;

      > div{
          padding: 0;
          background-color: var(--white);
      }
    }

  }
}